* {
  box-sizing: border-box;
}

body{
    font-family:Verdana;
    background-color: white;
    color:#333;
    width: 100%;
}

.menu {
  float:left;
  width:18%;
  margin-left: 2%;
  text-align:center;
}
.menu a {
  background-color:#009688;
  padding:14px;
  margin-top:7px;
  display:block;
  width:100%;
  text-decoration: none;
  color:white;
}

#theme{
    color: #e40046;
}
#theme_about{
    color: #009688;
    font-size: 1.8rem;
}

#delivered{
    color:green;
}

.father{
    width: 100%;
    display: block;
    overflow: hidden;
}
.brother{
    width: 40%;
    padding: 14px;
    float: left;
    overflow: hidden;
}
.sister{
    width: 60%;
    padding: 14px;
    float: left;
    overflow: hidden;
}
#contact_images{
    width: 20px;
    max-width: 20px;
}
.white_space{
    width: 100%;
    max-width: 100;
}
#liner{
    display:inline-block;
}
#max_width{
    width: 100%;
}
#middle{
    vertical-align: middle;
}

.pageHeading{
    overflow: hidden;
    margin-left: 2%;
    margin-right: 3.5%;
    white-space: nowrap;
    width: 94.5%;
    white-space: nowrap;
    background-color:#009688;
    color:#ffffff;
    padding-top:14px;
    text-align:center;
}
.main {
  float:left;
  width:55%;
  padding:0 20px;
}
.right {
  background-color:#fafafa;
  float:left;
  width:21.5%;
  margin-right: 3.5%;
  padding:15px;
  margin-top:2.5%;
  text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}

.footer{
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    margin-top:7px;
}




/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button.signin {
    background-color: #4CAF50;
    color: white;
    padding: 20px 20px;
    border-radius: 3%;
    margin: 0 auto !important;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 3%;
}

button.createAccount{
background-color:#0f97d0;
color:white;
border-radius: 3%;
margin: 0 auto !important;
padding: 20px 20px;
border: none;
cursor: pointer;
width: 100%;
}


button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}



.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

.bannerImage{
    width: 100%;
    height: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ddd;
}








#contentContainer {
    width: 100px;
    height: 100px;
    background-color: #f7f7f7;
    border: 1px aliceblue solid;
    box-shadow: 0.5px 2px 1px tan;
    overflow: hidden;
    margin: 0 auto !important;
}

#wrapper {
    width: 1000px;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
}

.content {
    float: left;
    width: 100px;
    height: 100px;
    white-space: normal;
    white-space: nowrap;
    background-repeat: no-repeat;
    overflow: hidden;
    color: #aaaaaa;
    text-align: center;
    background-color: white;
}

#navLinks {
    text-align: center;
    background-color: #e40046;
    width: 100px;
    margin: 0 auto;
}

#navLinks ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-top: 6px;
}

#navLinks ul li {
    float: left;
    text-align: center;
    margin: 5px;
    list-style: none;
    cursor: pointer;
    background-color: #CCCCCC;
    padding: 3px;
    border-radius: 50%;
    border: aliceblue 5px solid;
}

#navLinks ul li :hover {
    background-color: #FFFF00;
}

#navLinks ul li.active {
    background-color: #e40046;
    color: #FFFFFF;
    outline-width: 3px;
}

#navLinks ul li.active:hover {
    background-color: #484848;
    color: #FFFFFF;
}
.content :hover {
    background-color: aliceblue;
}


.content img {
    width: 100%;
}






input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.ma_form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
}

.container {
    padding: 2px 16px;
}




#smaller_box{
    height:70px;
    width: auto;
}